[submodule "JS/labs"]
	path = JS/labs
	url = https://github.com/ApostolQleg/labs
[submodule "JS/projects/project"]
	path = JS/projects/project
	url = https://github.com/ApostolQleg/project
[submodule "JS/projects/QuizTime-without-React"]
	path = JS/projects/QuizTime-old
	url = https://github.com/ApostolQleg/QuizTime-old
[submodule "JS/projects/QuizTime-React"]
	path = JS/projects/QuizTime
	url = https://github.com/ApostolQleg/QuizTime
[submodule "JS/projects/QuizTime-React-backend"]
	path = JS/projects/QuizTime-backend
	url = https://github.com/ApostolQleg/QuizTime-backend
