[submodule "JS/labs"]
	path = JS/labs
	url = https://github.com/ApostolQleg/labs
[submodule "JS/projects/project"]
	path = JS/projects/project
	url = https://github.com/ApostolQleg/project
[submodule "JS/projects/quizes-site"]
	path = JS/projects/quizes-site
	url = https://github.com/ApostolQleg/quizes-site
[submodule "JS/projects/quizzes-site--React-"]
	path = JS/projects/quizzes-site--React-
	url = https://github.com/ApostolQleg/quizzes-site--React-
